.form-card {
  padding: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  width: 100%;
}
.title{
  color: var(--primary-color);
  font-size: 25px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.save-button{
  font-size: 20px;
}