<div class="comment-list">
  <mat-card class="comment-card" *ngFor="let comment of this.comments">
     
    <mat-card-header>
     <mat-card-title>
       User: {{"comment.userId"}}
     </mat-card-title>
      <mat-card-subtitle>
        Title: {{"comment.commentTitle"}}
     </mat-card-subtitle>
    </mat-card-header>


    <mat-card-content>
      <p>{{ comment.comment }}</p>
      <p><strong>Date:</strong> {{ comment.commentDate | date:'medium' }}</p>
    </mat-card-content>


    <mat-card-actions class="comment-actions">
      <button mat-raised-button color="primary">
        <mat-icon>check</mat-icon> Approve
      </button>

      <mat-form-field appearance="outline" class="rating-select">
        <mat-label>Rating</mat-label>
        <mat-select [(value)]="comment.rating">
          <mat-option *ngFor="let r of [1,2,3,4,5]" [value]="r">
            {{ r }} {{ '★'.repeat(r) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
  </mat-card>
</div>
