.title{
    text-align: center;
    margin: 20px;
    color: var(--primary-color);
    font-weight: bold;
}

.title-wrapper{
      margin: 10px;
}

.message {
  color: var(--secondary-color);
  color: var(--error-color);
}