
  .engine-btn {
    display: inline-flex;
    align-items: center;
    width: 250px;
    height: 70px;
    gap: 8px;
    text-transform: none; 
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    // font-weight:bold;
  }
