<div class="popup-wrapper">
  <div class="title-wrapper">
    <div class="title">Upload Document</div>
  </div>
    
    <div class="subtitle">Select a file and submit</div>
    
    <div class="file-upload-container">
      <input type="file" (change)="onFileSelected($event)" class="file-input" />
    </div>
    
    <div class="popup-footer">
      <button mat-raised-button class="upload-btn" color="primary" (click)="upload()">
        <mat-icon>cloud_upload</mat-icon> Upload
      </button>
  </div>
</div>