.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

.message {
  margin-top: 15px;
  color: var(--secondary-color);
  color: var(--error-color);
}
.reg-wrapper{
  margin: 10px;
}
.reg-title{
  text-align: center;
  margin: 20px;
  color:var(--primary-color);
  font-weight: bold;
}
.column-order{
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.submit-btn{
  font-size: 18px;
  color:var(--white-color);
  background-color: var(--primary-color);
}
