  <div class="part-list">
  <div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Part Name </th>
      <td mat-cell *matCellDef="let doc"> {{doc.name}} </td>
    </ng-container>

    <ng-container matColumnDef="partNo">
      <th mat-header-cell *matHeaderCellDef> Part Number </th>
      <td mat-cell *matCellDef="let doc"> {{doc.partNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="serialNo">
      <th mat-header-cell *matHeaderCellDef> Serial Number </th>
      <td mat-cell *matCellDef="let doc"> {{doc.serialNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="partType">
      <th mat-header-cell *matHeaderCellDef> Part Type </th>
      <td mat-cell *matCellDef="let doc"> {{doc.partType}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let doc">
        <div class="actions-wrapper">
        <button mat-raised-button class="visibility-btn" >
          <mat-icon>visibility</mat-icon> 
        </button>
        <button mat-raised-button class="download-btn" >
          <mat-icon>download</mat-icon> 
        </button>
        <button mat-raised-button class="delete-btn">
          <mat-icon>delete</mat-icon> 
        </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>