.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-card {
  padding: 20px;
  text-align: center;
  min-width: 250px;
}

.message{
  color: var(--secondary-color);
  font-weight: bold;
  margin: 10px;
  font-size: 25px;
}