.full-width-table{
        background-color: var(--light);
    }

    .paginator{
        background-color: var(--light);

    }


.hover-row {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;

  .mat-cell {
    color: var(--white-color) !important;
  }
}