.document-view-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.document-placeholder {
  flex: 1; /* zauzima sav raspoloživi prostor */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-placeholder {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0; /* siva boja */
  border: 1px solid #bdbdbd;
}
