<div class="wrapper">
  
  <div class="home-page">
    <div class="button-row">
      <div class="left-buttons">
        <app-add-part-button></app-add-part-button>
      </div>
    </div>
    <app-part-list></app-part-list>

    <div *ngIf="partService.contentVisible==true" class="content">
      <div class="content-up">
        <div class="documet-list">

        <app-document-list
          (pdfSelected)="onPdfSelected($event)"
          (documentSelected)="onDocumentSelected($event)">
          </app-document-list>

        </div>
        <div class="center-column">
          <mat-card class="document-view-card">
            <mat-card-header>
              <mat-card-title>Selected Document</mat-card-title>
            </mat-card-header>

            <mat-card-content class="document-placeholder">
              <div *ngIf="selectedFile" class="pdf-container">
                  <iframe 
                    [src]="selectedFile" 
                    width="100%" 
                    height="300px" 
                    style="border:none;">
                  </iframe>
              </div>
              <div *ngIf="!selectedFile">
                <p>No document selected</p>
              </div>
            </mat-card-content>

          </mat-card>
        </div>

        <div class="right-column">
          <div class="right-column">
            <app-comment-section [selectedDocument]="selectedDocument"></app-comment-section>
            </div>
        </div>
      </div>
      <div >
        <app-comment-list class="footer" [documentId]="selectedDocument?.documentId"></app-comment-list>
      </div>
    </div>
  </div>

</div>          
