/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #81d4fa;
  --secondary-color: #3CB371;
  --success-color: #4caf50;
  --error-color:red;
  --white-color:white;
  --light:#e1f5fe;
  --black:black;
  --gold:gold;
  --grey:grey;
}

html, body { height: 100%; }
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('C:/Users/Nikola/OneDrive/Radna površina/Nenad/Napredne softverske tehnologije/Document Review Software Front/Document-Review-Swoftware-Front/src/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }