/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #81d4fa;
  --secondary-color: #3CB371;
  --success-color: #4caf50;
  --error-color:red;
  --white-color:white;
  --light:#e1f5fe;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }